<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhou.wu.multi.datasource.mapper.dal.TabTestOdpsDalMapper" >

  <sql id="Base_Column_List" >
    id, name, gender, phone, age, address, email
  </sql>

  <select id="getById" resultType="zhou.wu.multi.datasource.domain.TabTest" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tab_test
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>