<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhou.wu.mybatisgenerator.dao.HiveTableMapper" >
  <resultMap id="BaseResultMap" type="zhou.wu.mybatisgenerator.pojo.HiveTable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dbName" property="dbname" jdbcType="VARCHAR" />
    <result column="tableName" property="tablename" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dbName, tableName, location, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hiveTable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hiveTable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhou.wu.mybatisgenerator.pojo.HiveTable" >
    insert into hiveTable (id, dbName, tableName, 
      location, createTime, updateTime
      )
    values (#{id,jdbcType=INTEGER}, #{dbname,jdbcType=VARCHAR}, #{tablename,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhou.wu.mybatisgenerator.pojo.HiveTable" >
    insert into hiveTable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dbname != null" >
        dbName,
      </if>
      <if test="tablename != null" >
        tableName,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dbname != null" >
        #{dbname,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhou.wu.mybatisgenerator.pojo.HiveTable" >
    update hiveTable
    <set >
      <if test="dbname != null" >
        dbName = #{dbname,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        tableName = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhou.wu.mybatisgenerator.pojo.HiveTable" >
    update hiveTable
    set dbName = #{dbname,jdbcType=VARCHAR},
      tableName = #{tablename,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>